@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <h1 class="text-2xl font-bold">Personal Finance Manager</h1>
    <p>Learn about creator <a href="https://github.com//"> Manpreet Kaur </a>.</p>
</div>
